---
import "animate.css";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        // @ts-ignore: Unos errores TS7015 aquí son aceptables por ahora
        w[l] = w[l] || [];
        // @ts-ignore: Unos errores TS7015 aquí son aceptables por ahora
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        // @ts-ignore: Unos errores TS7015 aquí son aceptables por ahora
        j.async = true;
        // @ts-ignore: Unos errores TS7015 aquí son aceptables por ahora
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        // @ts-ignore: Unos errores TS7015 aquí son aceptables por ahora
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-N9LWTCQW");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/isotype.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../styles/global.css" />
    <title>Adcendia</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N9LWTCQW"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>
